.iframe-container {
    display: flex;
    justify-content: center;  /* Horizontal center alignment */
    align-items: center;      /* Vertical center alignment */
    height: 100%;             /* Adjust this value as needed */
    padding: 1px;            /* Adjust this value for the margin around the iframe */
}

iframe {
    max-width: 100%;          /* Ensure iframe doesn't overflow container */
    max-height: 100%;         /* Ensure iframe doesn't overflow container */
}
.container {
    display: grid;
    justify-content: center; /* for horizontal centering */
    align-items: center;     /* for vertical centering */
    height: 100%;            /* or any specific height */
    text-align: center; 
}

h1, h2, h3, h4, h5, h6 {

        text-align: center;
        padding: 20px;
        background: linear-gradient(135deg, #00C6FF, #0072FF, #003E8D, #008000);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

}

.div-with-colored-frame {
    border-top: 2px solid #00C6FF;
    border-right: 2px solid #0072FF;
    border-bottom: 2px solid #003E8D;
    border-left: 2px solid  #008000;
}
