<div class="btn-toolbar">
    <a href="#" id="reload" class="btn btn-default">
      <i class="fas fa-sync-alt"></i> Reload the flows
    </a>
</div>

<div class="panel panel-default">
    <table
           id="netflows"
           width="100%"
           class="table table-striped"
           data-table
           data-table-sort="1,desc"
           data-table-no-auto-init
           data-table-source="/aws_net_flows/{{ handler.id }}/"
    >
        <thead>
            <tr>
            <th>Log Stream</th>
            <th>Timestamp</th>
            <th>interface-id</th>
            <th>srcaddr</th>
            <th>dstaddr</th>
            <th>srcport</th>
            <th>dstport</th>
            <th>protocol</th>
            <th>packets</th>
            <th>bytes</th>
            <th>start</th>
            <th>end</th>
            <th>action</th>
            <th>log-status</th>
            </tr>
        </thead>
        <tbody>
            {# will be populated by dataTable based on AJAX responses #}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function(){
        c2.dataTables.init('#netflows');

        $('#reload').on('click', function (e) {
            e.preventDefault();
            var table = $('#netflows').DataTable();
            table.ajax.reload();
        });
    });
</script>
