body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 15px 0;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    text-align: left;
}

code {
    overflow-x: scroll;
    overflow-Y: scroll;
}

pre {
    position: relative;
}
.btn {
    position: absolute;
    top: -5px;
    right:15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:white;
}

.container-hmargin {
    margin-right: 20%;
    margin-left: 20%; 
}

