

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">CloudBolt {{content_label}}</h2>
        </div>
        <div class="panel-body">
            {% if contents %}
                <div class="btn-toolbar">
                    <a class="btn open-dialog cb-btn-primary"
                       title="Create a new git commit for multiple CloudBolt {{content_label}}"
                       href="{% url 'export_multiple' content_type=content_type %}"
                    ><span class="fas fa-file-export"></span> Commit Multiple {{content_label}}</a>
                </div>
                <p>List of CloudBolt {{content_label}} </p>
                <table class="dataTable no-footer table table-hover">
                    <thead>
                        <tr>
                            {%  for header in columns %}
                            <th>{{ header }}</th>
                            {%  endfor %}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in contents %}
                        <tr>
                            <td>{{ content.label }}</td>
                            <td>{{ content.global_id }}</td>
                            {%  if content.column_1_data %}
                            <td>{{ content.column_1_data }}</td>
                            {%  endif %}
                            {%  if content.column_2_data %}
                            <td>{{ content.column_2_data }}</td>
                            {%  endif %}
                            {%  if content.column_3_data %}
                            <td>{{ content.column_3_data }}</td>
                            {%  endif %}
                            {%  if content.column_4_data %}
                            <td>{{ content.column_4_data }}</td>
                            {%  endif %}
                            <td>
                                <a class="fas fa-file-export btn open-dialog cb-btn-primary"
                                   title="Create a new git commit for CloudBolt {{content_label}}"
                                    href="{% url 'git_commit_create' content_type=content_type content_id=content.global_id %}"></a>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info w-75">
                    <p><i class="fas fa-info-circle mr-2"></i> No git eligible Blueprints are currently deployed in the environment.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>