{% load helper_tags %}
{% load tab_tags %}
{% load i18n %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-toolbar">
                <strong>AWS SSM Inventory for Server: <i>{{ server.hostname }}</i></strong>
            </div>
            <table id="virtual-machine-ssm-inventory-table"
                data-table
                data-table-no-auto-init
                data-table-source="{% url 'ssm_inventory_json' server.id %}"
            >
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Version' %}</th>
                        <th>{% trans 'Release' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {# content is loaded asynchronously #}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
      c2.dataTables.init('#virtual-machine-ssm-inventory-table');
    });
</script>